@page "/product/{Id:int}"
@using ShopOnline.DataAccess.DTOs

@if(Product==null&&ErrorMessage==null)
{
    <Loading/>
}
else if(ErrorMessage!=null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else{
    <h3 class="mb-5">Карточка товара</h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="@Product.ImageURL">
        </div>
        <div class="col-md-6">
            <h3>@Product.Name</h3>
            <p class="mb-4">@Product.Description</p>
            <p class="mb-4">
                <b>
                    @Product.RetailPrice?.ToString("C",CultureInfo.CreateSpecificCulture("ru-RU"))&nbsp;(осталось @Product.Count шт)
                </b>
            </p>
            <div>
                <button class="btn btn-success"
                @onclick="()=>(AddToCart(new CartItemToAddDTO{
                    CartId = MockUserForTest.CartId,
                    ProductId = Product.Id,
                    Count=1
                }))"
                ><b>Добавить</b></button>
            </div>
        </div>
    </div>
}